.attraction {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 180px 250px 175px 30px;
  max-width: 1230px;
  min-width: 1230px;
}

.loading {

}

.trip {
  display: flex;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/3;
}

.trip img {
  height: 80px;
  width: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 2/3;
  grid-row: 1/2;
}

.browseButton {
  cursor:pointer;
  transition: .5s;
  border: none;
}

.browseButton:hover {
  background-color: #34E0A1;
}
